.balance {
  display: -webkit-box;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.block {
  font-size: 1.2rem;
  background-color: #3d5af1;
  padding: 7px 15px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  color: #fff;
}

.title {
  text-transform: uppercase;
  margin-right: 15px;
}

.activeBank {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.addButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.error {
  grid-area: error;
}
.inputField {
  grid-area: input;
  padding: 2px 0 2px 10px;
  width: 40%;
  font-size: 16px;
}

.submitButton {
  grid-area: button;
  outline: none;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  width: 100%;
  padding: 8px 0;
  margin-top: 10px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

.closeButton {
  @extend .submitButton;
  background-color: rgb(255, 38, 0);
  color:#fff
}

.submitButton:hover {
  background-color: #000;
  color: #fff;
}