.container {
  display: grid;
  align-items: center;
  margin-top: 20px;
  grid-template-columns: 50% 50%;
  grid-template-areas: "price buttons" "error error";
  justify-content: center;
  .buttonSection {
    grid-area: buttons;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .price {
    grid-area: price;
    font-size: 48px;
    justify-self: center;
    font-weight: bold;
  }
  .button {
    outline: none;
    border: none;
    width: 200px;
    padding: 5px 0;
    border-radius: 7px;
    font-weight: medium;
    text-transform: uppercase;
    font-size: 18px;
  }
  .button + .button {
    margin-top: 10px;
  }
  button:hover {
    background-color: #000;
    color: #fff;
  }
  .error {
    grid-area: error;
    justify-self: center;
    color: red;
    font-weight: 500;
    font-size: 18px;
  }
}

.success {
  color: green;
  font-weight: medium;
}

.blockedBuy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}