.header {
  width: 100%;
  height: 10vh;
  color: #fff;
  background-color: #000;
}
.grid__div {
  width: 100%;
  display: grid;
  height: 10vh;
  align-items: center;
  grid-template-columns: 25% 65% 10%;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cartBlock {
  margin-left: -2px;
  display: inline-block;
  position: relative;
}

.cartNumber {
  color: #fff;
  background-color: transparent;
  top: 0;
  right: 0;
  font-size: 20px;
  position: absolute;
  font-weight: bold;
  text-align: center;
}

.cart img {
  width: 50px;
  height: 50px;
}

.navigation {
  display: flex;
  height: 20px;
  justify-content: space-between;
  list-style: none;
}

.navigation li a {
  color: #fff;
  font-weight: 500;
}

.navigation li a::after {
  -webkit-transition: all 2s linear;
  transition: all 3s linear;
}

.navigation li a:hover::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 2px;
  margin-top: 3px;
  width: 100%;
}

.logotype a {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.authenticated {
  display: flex;
  justify-content: flex-end;
}

.logoutButton {
  border: none;
  text-transform: uppercase;
  outline: none;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 700;
  background-color: #3d5af1;
  border-radius: 5px;
  margin-left: 10px;
}

.profileButton {
  @extend .logoutButton;
  background-color: #fff;
  justify-content: space-between;
  color: #000;
}

.currentBalance {
  font-weight: 700;
  margin-left: 5px;
  color: #000;
}
.addLink {
  font-weight: 700;
  color:#fff;
  font-size: 2rem;
  align-items: center;
  margin:0 5px;
}